.login-container {
    display: block;
    margin: 20px;
}

.login-container .login-form {
    justify-content: center;
    min-width: 360px;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.login-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px;
}

.login-form label {
    padding: 10px 0px 10px 0px;
}

.login-form input {
    padding: 5px;
}

.login-form .btn-login-div {
    padding: 20px;
    text-align: center;
}

.login-form .btn-login {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px
}

.login-form .register-label {
    text-align: center;
}

.error {
    border: 1px solid red;
    background-color: #f8d7da;
}

input.error:focus {
    background-color: #f1b0b7;
}

.error-message {
    font-size: 14px;
    color: red;

}