<!doctype html>

<head>
    <link rel="stylesheet" href="/assets/css/components/Footer.css">
</head>

<body>    
    <div class="footer bg-light">
        <div class="box-lien-he">
            <div class="tieu-de">
                liên hệ với chúng tôi
            </div>
            <div class="lien-he d-flex">
                <div class="left">
                    <img src="/assets/image/Footer/bg-ta1.jpg" alt="">
                    <div class="content">

                        <div class="noi-dung">
                            <div>
                                TP. Hà Nội
                            </div>
                            <div>
                                <i class="fa fa-map-marker"></i>
                                108 Phố Hoàng Như Tiếp, P. Bồ Đề, Q. Long Biên
                            </div>
                            <div>
                                024 7106 6858
                            </div>
                            <div>
                                024 3872 3872
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <img src="/assets/image/Footer/bg-ta2.jpg" alt="">
                    <div class="content">
                        <div class="noi-dung">
                            <div>
                                TP. HỒ CHÍ MINH
                            </div>
                            <div>
                                <i class="fa fa-map-marker"></i>
                                2B Phổ Quang, Phường 2, Quận Tân Bình, Thành phố Hồ Chí Minh
                            </div>
                            <div>
                                0287 102 6789
                            </div>
                            <div>
                                093 180 6858
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doi-tac">
            <div class="container">
                <div class="tieu-de col-xs-12">
                    Đối tác bảo hiểm
                </div>
                <div class="slide-doi-tac col-xs-12">
                    <button class="btn btn-prev" aria-label="Previous" type="button"><span>
                            < </span></button>
                    <div class="lst-doi-tac">
                        <a href="#" class="slide-link 1"><img
                                src="/assets/image/logo/doitac/doi-tac-bao-hiem-fullerton-health.png" alt=""></a>
                        <a href="#" class="slide-link 3"><img src="/assets/image/logo/doitac/doi-tac-bao-hiem.png"
                                alt=""></a>
                        <a href="#" class="slide-link 2"><img src="/assets/image/logo/doitac/dt-1.png" alt=""></a>
                        <a href="#" class="slide-link 4"><img src="/assets/image/logo/doitac/dt-2.png" alt=""></a>
                        <a href="#" class="slide-link 5"><img src="/assets/image/logo/doitac/dt-5.png" alt=""></a>
                        <a href="#" class="slide-link 6"><img src="/assets/image/logo/doitac/dt-6.png" alt=""></a>
                        <a href="#" class="slide-link 7"><img src="/assets/image/logo/doitac/dt-8.png" alt=""></a>
                    </div>
                    <button class="btn btn-next" aria-label="Next" type="button"><span>></span></button>
                </div>
            </div>
        </div>
        <!-- End footer -->
        <div class="in4">
            <div class="container">
                <div class="row">
                    <div class="logo col-sm-3">
                        <a href="/index.html">
                            <img src="/assets/image/logo/ta/logo-ta.png" alt="#">
                        </a>
                    </div>

                    <div class="map-tel col-sm-6">
                        <div class="widget-title">
                            <span>Hệ thống bệnh viện</span>
                        </div>
                        <div class="widget-text">
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-map-marker"></i>
                                    108 Phố Hoàng Như Tiếp, <br>
                                    P. Bồ Đề, Q. Long Biên, Tp. Hà Nội
                                    <a href="https://maps.google.com/?cid=13311869957021696812">Xem bản đồ</a>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-phone"></i>
                                    <a href="#" class="tel">
                                        024 7106 6858
                                    </a><br>
                                    <a href="#" class="tel">
                                        024 3872 3872
                                    </a>
                                    (HN) <br>
                                    làm việc từ 7:30 - 16:30 <br>
                                    <i class="fa fa-envelope"></i>
                                    cskh@tamanhhospital.vn
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-map-marker"></i>
                                    2B Phổ Quang, Phường 2,<br>
                                    Q. Tân Bình, TPHCM
                                    <a href="https://maps.google.com/?cid=8554562922472513979">Xem bản đồ</a>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-phone"></i>
                                    <a href="#" class="tel">
                                        024 7106 6858
                                    </a><br>
                                    <a href="#" class="tel">
                                        024 3872 3872
                                    </a>
                                    (TPHCM) <br>
                                    làm việc từ 6:00 - 19:00 <br>
                                    (Chủ nhật từ 6:30 - 12:00) <br>
                                    <i class="fa fa-envelope"></i>
                                    cskh@tahospital.vn
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-map-marker"></i>
                                    Sunrise City, Central Tower, 25 Nguyễn Hữu Thọ, Q.7, TPHCM
                                    <a href="https://maps.google.com/?cid=7684918784383676028">Xem bản đồ</a>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-phone"></i>
                                    <a href="#">
                                        0287 102 6789
                                    </a>
                                    <br>
                                    <a href="#">
                                        093 180 6858 (TP.HCM)
                                    </a>
                                    <br>
                                    làm việc từ 7:00 - 19:00 <br>
                                    (Chủ nhật 6:00 - 12:00) <br>
                                    <i class="fa fa-envelope"></i>
                                    cskh@tahospital.vn
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-map-marker"></i>
                                    316C Phạm Hùng,
                                    Phường 5, Q.8, TPHCM
                                    <a href="https://www.google.com/maps?cid=7877042713338128636">Xem bản đồ</a>
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-phone"></i>
                                    <a href="#">
                                        0287 102 6789
                                    </a>
                                    <br>
                                    <a href="#">
                                        093 180 6858 (TP.HCM)
                                    </a>
                                    <br>
                                    làm việc từ 7:00 - 19:00 <br>
                                    (Chủ nhật 6:00 - 12:00) <br>
                                    <i class="fa fa-envelope"></i>
                                    cskh@tahospital.vn
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cate col-sm-3">
                        <div class="widget-title">
                            Đường dẫn nhanh
                        </div>
                        <div class="widget-link">
                            <a href="/pages/KhachHang/ChuyenKhoa.html">Chuyên khoa</a><br>
                            <a href="#">chuyên mục bệnh học</a><br>
                            <a href="#">Chính sách bảo mật</a><br>
                        </div>
                        <div class="widget-title">
                            <div>
                                Website cùng tập đoàn
                            </div>
                        </div>
                        <div class="widget-link">
                            <a href="#">Viện Nghiên cứu Tâm Anh</a><br>
                            <a href="">Trung tâm Hỗ trợ sinh sản Tâm Anh</a>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-6 item">
                                CÔNG TY CỔ PHẦN BỆNH VIỆN ĐA KHOA TÂM ANH <br>
                                Số đăng ký kinh doanh: 0102362369 <br>
                                cấp bởi Sở kế hoạch và đầu tư Thành phố Hà Nội, đăng ký lần đầu ngày 11 tháng 9 năm 2007
                                <br>
                            </div>
                            <div class="col-md-6 item">
                                <a href="#">
                                    <img src="/assets/image/Footer/handle-cert.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="/assets/image/Footer/DMCA_logo-grn-btn100w.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="/assets/image/Footer/dathongbao.png" alt="">
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>