* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;

    .icon {
        width: 30px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    /* navbar */

    .navbar {
        position: fixed;
        background-color: #138d00;
        top: 0;
        color: #fff;
        z-index: 10000;
        width: 100%;
        padding: 10px 20px;
    }

    .btn-toggle-leftsidebar {
        margin-right: 15px;
        display: none;
    }

    .navbar-brand-cus {
        flex: 3;
        font-size: 20px;
        text-transform: uppercase;
    }

    .navbar-search-div {
        flex: 2;
        display: flex;
        justify-content: center;
    }

    .navbar-search-bar {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        width: 300px;
    }

    #search-bar {
        width: 500px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
    }

    .navbar-search-bar img {
        position: absolute;
        height: 100%;
        width: auto;
        right: 0;
        z-index: 10;
        padding: 10px;
        cursor: pointer;
        border-radius: 0px 10px 10px 0px;
    }

    .navbar-search-bar img:hover {
        background-color: #e3ffde9b;
    }

    .navbar-widgets {
        display: flex;
        flex-direction: row;
        flex: 0.6;
        gap: 20px;
    }

    .navbar-widgets-item {
        flex: 1;
        text-align: center;
        filter: brightness(0) invert(1);
        cursor: pointer;
    }

    /* leftside bar */
    #leftsidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: white;
        top: 70px;
        height: 840px;
        width: 300px;
        box-shadow: 1px 1px 0px rgba(188, 188, 188, 0.8);
    }

    /* leftsidebar user info  */
    .user-info {
        background: url("/assets/image/QuanLy/QuanTri/user-img-background.jpg") no-repeat;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 10px 20px;
    }

    .user-img {
        flex: 1;
    }

    .user-img img {
        width: 40px;
        height: 40px;
        border-radius: 25px;
    }

    .user-info-container {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .user-dropdown button {
        background-color: transparent;
        align-items: center;
        margin-right: 10px;
        border: none;
        cursor: pointer;
    }

    .user-dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
        right: 0;
        padding: 0;
    }

    .dropdown-item {
        display: flex;
        flex: 1;
        gap: 10px;
        padding: 15px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .dropdown-item img {
        width: 20px;
        height: 20px;
    }

    /* leftsidebar menu */
    .menu {
        display: flex;
        flex-direction: column;
        flex: 10;
        flex-wrap: wrap;
    }

    .menu .header {
        padding: 20px;
        background-color: #ffa103;
    }

    .menu ul {
        list-style: none;
        padding: 0;
    }

    .menu ul li.left-link {
        padding: 10px 20px;
    }

    .menu ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }

    .menu ul li img {
        margin-right: 10px;
    }

    .menu ul li.left-link:hover,
    .menu ul .active {
        background-color: #ffda34;
    }

    /* leftside dropdown */
    .bs-dd {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    .bs-dd.open {
        max-height: fit-content;
    }

    .bs-dd-item {
        background-color: #f1f1f1;
    }

    .bs-dd-item a {
        padding-left: 40px;
    }

    /* leftside legal */
    .legal {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 1px;
        padding: 10px;
        justify-content: flex-end;
    }
}