* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.icon {
    width: 30px;
}

a {
    color: black;
    text-decoration: none;
}

/*  */
.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.both-side {
    display: flex;
    height: 100%;
    width: 100%;
}

/* navbar */

.navbar {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #138d00;
    color: #fff;
    padding: 12px;
    z-index: 10000;
}

.btn-toggle-leftsidebar {
    margin-right: 15px;
    display: none;
}

.navbar-brand {
    flex: 3;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-search-div {
    flex: 2;
    display: flex;
    justify-content: center;
}

.navbar-search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
}

#search-bar {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.navbar-search-bar img {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}

.navbar-search-bar img:hover {
    background-color: #e3ffde9b;
}

.navbar-widgets {
    display: flex;
    flex-direction: row;
    flex: 0.6;
    gap: 20px;
}

.navbar-widgets-item {
    flex: 1;
    text-align: center;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

/* left side bar */
#leftsidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 100%;
    box-shadow: 1px 1px 0px rgba(188, 188, 188, 0.8);
}

/* leftsidebar user info  */
.user-info {
    background: url("/assets/image/QuanLy/QuanTri/user-img-background.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 20px;
}

.user-img {
    flex: 1;
}

.user-img img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.user-info-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.user-dropdown button {
    background-color: transparent;
    align-items: center;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

/* leftsidebar menu */
.menu {
    display: flex;
    flex-direction: column;
    flex: 10;
    flex-wrap: wrap;
}

.menu .header {
    padding: 20px;
    background-color: #ffa103;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    display: flex;
    align-items: center;
}

.menu ul li img {
    margin-right: 10px;
}

.menu ul li:hover,
.menu ul .active {
    background-color: #ffda34;
}

/*  legal */
.legal {
    flex: 1;
    margin-top: 1px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* rightsidebar  */
#rightsidebar {
    flex: 1;
    height: 100%;
    background-color: rgb(225, 225, 225);
}

#rightsidebar-content {
    height: 96.7%;
    width: 98.3%;
    background-color: white;
    border-radius: 10px 0px 0px 0px;
    margin: 30px 0px 0px 30px;
    padding: 20px;
}